matplotlib
ipympl
nappy
numpy
Pandas
Polars
pyod
PyYaml
requests
#shutil #this is a standard python library
ipykernel
xarray
ipympl
netcdf4
scipy
dask
scikit-learn
flox
git+https://github.com/mathause/mplotutils/archive/refs/tags/v0.5.0.zip